.header{
    margin: 0 auto;
    max-width: 1000px;
    max-height:500px;
    background-color: rgb(255, 255, 255);
}
.container h1{
    padding: 0px 175px;
    color: rgb(0, 0, 0);
}
.container{
    display:flex;
    justify-content: center;
}
.but{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.but button{
    margin: 0 auto;
    height:80px;
    width:200px;
    font-size:18px;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: rgb(255, 255, 255);
}

header{
    padding:64px 0;
}
 header a{
    text-decoration: none;
    color: black;
} 
main{
flex-grow: 1;
display: flex;
align-items: center;
justify-content: center;
}
section{
    margin: 0 auto;
    border-color: black;
    border-radius: 10%;
    background-color: rgb(189, 189, 189);
    box-shadow: 4px 4px 15px rgb(70, 70, 70);
    font-size:30px;
}
form{
display: flex;
flex-direction: column;
gap: 16px;
padding: 10px 100px;
}
form input,button{
    font-size: 30px;
}
header{
    background-color:black;
    max-height: 1%;
}